@import '../../scss/variables';
@import '../../scss/mixins';

.wrapper {
	@include tablet {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}
}

.thumb {
	display: none;
	@include tablet {
		display: block;
		width: 200px;
		height: 400px;
		background-image: url('../../assets/modal/thanks/768_2x.webp');
		background-size: cover;
	}
	@include small-desktop {
		width: 360px;
		// height: 532px;
		height: auto;
		background-image: url('../../assets/modal/thanks/1280_2x.webp');
	}
	@include large-desktop {
		width: 360px;
		height: 600px;
		background-image: url('../../assets/modal/thanks/1920_2x.webp');
	}
}

.text {
	display: flex;
	flex-direction: column;
	padding: 80px 24px 24px 24px;
	@include tablet {
		width: 400px;
	}
	@include small-desktop {
		padding: 112px 32px 32px 32px;
		width: 542px;
	}
	@include large-desktop {
		padding: 144px 32px 32px 32px;
		width: 640px;
	}
}

.title {
	margin-bottom: 16px;
	font-weight: 800;
	line-height: 1.2;
	font-size: 28px;
	@include small-desktop {
		margin-bottom: 32px;
		font-size: 52px;
	}
}

.info {
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	color: $color-main-blue-dark;
	@include small-desktop {
		font-size: 20px;
	}
	@include large-desktop {
		margin-bottom: 16px;
		font-size: 20px;
	}
}

.gratitude {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	color: $color-gray-100;
	margin-bottom: 24px;
	@include small-desktop {
		margin-bottom: 32px;
		font-size: 20px;
	}
	@include large-desktop {
		margin-bottom: 40px;
	}
}

.return {
	width: 305px;
	align-items: center;
	& > button {
		padding-left: 16px;
		padding-right: 16px;
	}

	@include tablet {
		width: 334px;
	}
}

.icon {
	padding: 0;
}
