@import '../../scss/variables';
@import '../../scss/mixins';

.videoContainerWrapper {
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	&.main {
		background-color: $color-gray-0;
	}

	&.therapy {
		background-color: $color-main-bg;
	}

	.videoContainer {
		display: flex;
		flex-direction: column;
		gap: 32px;
		box-sizing: border-box;
		position: relative;

		padding: 40px 20px;
		color: $color-gray-100;

		@include tablet {
			padding: 80px 32px;
			gap: 48px;
		}

		@include small_desktop {
			padding: 100px;
		}

		@include full_desktop {
			flex-direction: row;
			max-width: 1920px;
		}

		&.main {
			background-color: $color-gray-0;
			@include tablet {
				flex-direction: column-reverse;
			}
			@include small_desktop {
				flex-direction: column;
			}
			@include full_desktop {
				flex-direction: row;
			}
		}

		&.therapy {
			background-color: $color-main-bg;
		}

		.videoPlayer {
			position: relative;

			@include large_desktop {
				align-self: center;
			}

			@include full_desktop {
				align-self: center;
			}

			@keyframes rotation {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}

			.posterOverlay {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				&.disappear {
					opacity: 0;
				}

				.playButtonImage {
					position: absolute;
					width: 100px;
					height: 100px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: all 0.3s ease-in-out;
					cursor: pointer;
				}

				.posterImage {
					border-radius: 16px;
					@include full_desktop {
						max-width: none;
						height: auto;
					}
				}
			}
			.loader {
				width: 48px;
				height: 48px;
				border: 5px solid $color-gray-0;
				border-bottom-color: $color-main-blue-mid;
				border-radius: 50%;
				display: inline-block;
				box-sizing: border-box;
				animation: rotation 1s linear infinite;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			@keyframes rotation {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
			.videoElement {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
			}

			.showControls {
				display: block;
			}
		}
	}

	.textContainer {
		@include tablet {
			position: relative;
		}

		@include small_desktop {
			position: unset;
		}

		.videoTitle {
			margin-bottom: 32px;
			line-height: 120%;
			font-size: 28px;

			@include small_desktop {
				font-size: 52px;
			}

			@include large_desktop {
				padding-right: 100px;
			}

			@include full_desktop {
				padding-right: 100px;
			}
		}

		.videoDescription {
			word-wrap: break-word;
			line-height: 140%;
			font-size: 14px;

			@include small_desktop {
				margin-bottom: 16px;
				max-width: none;
				font-size: 20px;
			}

			&:first-of-type {
				margin-bottom: 24px;
				font-weight: 700;

				@include tablet {
					margin-bottom: 16px;
				}

				@include small_desktop {
					margin-bottom: 24px;
				}
			}

			&:not(:first-of-type) {
				@include tablet {
					margin-bottom: 0;
				}
				@include small_desktop {
					margin-bottom: 16px;
				}
			}

			&:last-of-type {
				margin-bottom: 32px;
				@include tablet {
					margin-bottom: 1.2%;
				}

				&.main {
					@include small_desktop {
						margin-bottom: 32px;
					}
				}
			}
		}

		.pawImage {
			width: 120px;
			height: 120px;

			@include tablet {
				width: 80px;
				height: 80px;
			}

			@include small_desktop {
				width: 120px;
				height: 120px;
			}

			&.main {
				float: right;

				@include tablet {
					position: absolute;
					right: 0;
					bottom: -45px;
				}
				@include small_desktop {
					position: unset;
				}
			}
			&.therapy {
				@include tablet {
					display: none;
				}

				@include full_desktop {
					display: block;
					position: absolute;
					right: 50%;
					bottom: 0;
				}
			}
		}
	}
}
