@import '../../scss/variables';
@import '../../scss/mixins';

.header {
	position: relative;
	background-color: $color-main-bg;
}

.header_container {
	max-width: 1920px;
	padding: 0 100px;
	margin: auto;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1279px) {
		padding: 0 32px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 20px;
	}
}

.header_main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	margin: 32px 0;

	@media screen and (max-width: 1279px) {
		width: 74px;
		margin: 16px 0;
	}
 }

.header_nav {
	display: flex;
	list-style: none;

	@media screen and (max-width: 1279px) {
		display: none;
	}
}

.header_nav_category {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.header_nav_link {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: $color-gray-100;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: $color-main-blue-dark;
	}

	&:active {
		color: $color-accent;
	}
}

.header_right_cont {
	display: flex;
	align-items: center;
}

.header_lng {
	@media screen and (max-width: 1279px) {
		display: none;
	}
}

.header_lng_btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: $color-gray-100;

	&:hover {
		color: $color-main-blue-dark;
	}

	&:active {
		color: $color-accent;
	}

	@media screen and (max-width: 1279px) {
		font-size: 24px;
	}
}

.header_lng_btn_active {
	color: $color-accent;
}

.header_lng_gap{
	margin: 0 5px;
}

.header_mob_menu_cont_btn {
	display: none;
	margin-left: 40px;

	@media screen and (max-width: 1279px) {
		display: flex;
	}
}

.header_mob_menu_btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 56px;
}

.header_mob_menu_btn_burger {
	color: $color-accent;
}

.header_mob_menu_btn_close {
	color: $color-main-blue-dark;
}

.mobMenuEnter {
  opacity: 0;
}

.mobMenuEnterActive {
  opacity: 1;
  transition: opacity 400ms;
}

.mobMenuExit {
  opacity: 1;
}

.mobMenuExitActive {
  opacity: 0;
  transition: opacity 400ms;
}