@import '../../scss/variables';
@import '../../scss/mixins';

.catalog_container {
  background-color: $color-gray-0;
}

.catalog_container {
  max-width: 1920px;
  padding: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1279px) {
    padding: 80px 32px;
  }

  @media screen and (max-width: 767px) {
    padding: 40px 20px;
  }
}

.catalog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
    margin-bottom: 32px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.catalog_header_title {
  font-size: 52px;
  font-weight: 800;

  @media screen and (max-width: 1279px) {
    font-size: 28px;
    align-self: flex-start;
  }
}

.catalog_header_btn {
  width: auto;
  padding: 12px 32px;
}

.catalog_filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
  @media screen and (max-width: 1279px) {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.catalog_inputs {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin-bottom: 20px;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.catalog_select_container {
  display: flex;
  flex-direction: column;
  width: 32.5%;

  @media screen and (max-width: 1279px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.catalog_checkbox_label,
.catalog_select_label {
  font-size: 20px;
  font-weight: 500;
}

.catalog_checkbox_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;

  @include small_desktop {
    flex-direction: row;
  }

  /*  @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }*/
}

.catalog_checkbox_box {
  margin: 0 18px 25px;

  @include small_desktop {
    margin: 0 18px;
  }
}

.catalog_checkbox {
  transform: scale(1.8);
  margin-right: 8px;
}

.inputWrapper {
  padding: 4px 0;

}

.input {
  width: 100%;
  border-style: none;
  font-size: 20px;
  border: 1px solid $color-main-blue-light;
  outline-color: $color-main-blue-light;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 40px;
  background: $color-gray-0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04) inset;
  padding: 8px 16px;
  height: 53px;

  &::placeholder {
    color: $color-gray-60;
    font-size: 20px;
    font-weight: 500;
    line-height: 22.4px;
  }

  @include small_desktop {
    padding: 12px 16px;
  }


  &:active {
    border: 1px solid $color-accent;
  }

  &:hover {
    border: 1px solid $color-accent;
    outline-color: $color-accent;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
  }

  &:focus {
    border: 1px solid $color-accent;
  }

}

.inputBoxName {
  width: 100%;

  @include small_desktop {
    width: 32.5%;
  }
}

.inputBox {
  width: 100%;

  @include small_desktop {
    width: 66%;
  }
}


.inputError {
  outline-color: $color-system-error;
  border: 1px solid $color-system-error;

  &:active {
    border: 1px solid $color-system-error;
  }

  &:hover {
    border: 1px solid $color-system-error;
    outline-color: $color-system-error;
  }

  &:focus {
    border: 1px solid $color-system-error;
  }
}


.label {
  color: $color-gray-100;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
}


.labelError {
  color: $color-system-error;
}

.errorMessage {
  color: $color-system-error;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.submit_buttons_container {
  display: flex;
  justify-content: space-around;
}

.submit_buttons_box {
  width: 600px;
  display: flex;
  gap: 80px;
}


.uploadInput {
  border-radius: 30px;
  display: inline-flex;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  width: auto;
  background: $color-gray-0;
  border-style: none;
  border: 1px solid $color-accent;
  color: $color-accent;
  padding: 12px 32px;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;

@include small_desktop {
  font-size: 24px;
}
  @include hover {
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
    &:hover {
      border-color: $color-main-blue-dark;
      color: $color-main-blue-dark;
    }
  }


  &:focus-visible {
    outline: none;
    border-color: $color-main-blue-dark;
  }

  &:active {
    border-color: $color-gray-100;
    color: $color-gray-100;
  }

  &:disabled {
    border-color: $color-gray-60;
    background: transparent;
    color: $color-gray-60;

    svg {
      fill: $color-gray-60;
    }

    @include hover {
      &:hover {
        color: $color-gray-60;
      }
    }
  }

/*  @media screen and (max-width: 1279px) {
    display: none;
  }*/
}

.uploadError {
  border-color: $color-system-error;
  color: $color-system-error;
  //outline-color: $color-system-error;

  @include hover {
    &:hover {
      border-color: #A00202;
      color: #A00202;
    }
  }

  &:focus-visible {
    border-color: #840000;
    color: #840000;
  }

  //pressed
  &:active {
    border-color: #840000;
    color: #840000;
  }
}