@import '../../scss/variables';
@import '../../scss/mixins';

.addButton {
	padding: 30px;
	display: flex;
	width: 153px;
	max-height: 55px;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 40px;
	color: #fff;
	background: #009cd9;
	text-decoration: none;
	gap: 8px;
	font-size: 20px;
	transition: all 0.3s ease;
	&:hover {
		background: #005c80;
	}
}

.button_wrapper {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	gap: 30px;
}

.container {
	padding: 35px;
	width: 100%;
	background-color: $color-gray-40
	// gap: 32px;
	// display: flex;
	// flex-direction: column;
	// background-color: $color-gray-0;
}

.title {
	font-size: 36px;
	margin-bottom: 40px;
}

.group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	// display: flex;
	// justify-content: space-between;
}
