@import '../../scss/variables';
@import '../../scss/mixins';

// container move to  common styles ???
.container {
	padding: 15px;
	width: 100%;
	gap: 32px;
	display: flex;
	flex-direction: column;
	background-color: $color-gray-0;
}

.title {
	margin-bottom: 24px;
	font-weight: 800;
	line-height: 1.2;

	@include small-desktop {
		font-size: 42px;
	}
}

.news {
	display: grid;
	justify-items: center;
	row-gap: 30px;
	@include tablet {
		grid-template: 1fr / repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 20px;
	}

	@include small-desktop {
		display: grid;
		grid-template: 1fr / repeat(4, 1fr);
		column-gap: 20px;
	}
}

.loading {
	width: 6rem;
	height: 6rem;
	border: 5px solid #009cd9;
	border-radius: 50%;
	border-top-color: #fff;
	animation: spinner 0.6s linear infinite;
	margin: 6rem auto;
}

// .container {
// 	background-color: #ebf5fb;
// 	padding: 6rem;
// }

// .alert {
// 	text-align: center;
// 	font-size: 32px;
// 	color: #005c80;
// }
