@import '../../scss/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width:100%;
  padding:16px 24px;
 
  
  background-color: #C8E8F5;
  border-radius: 40px;
  // outline-color: transparent;
  border:none
}

.button:active, .button:focus{
  border: 2px solid $color-main-blue-dark;
  // outline-color:$color-main-blue-dark;
}

.image{
  height: 30px;
}