@import '../../scss/variables';
@import '../../scss/mixins';

.container{
  padding: 20px;
  border-radius:30px;
  border: 1px solid $color-main-blue-light;
  background-color: $color-gray-0;

  @include tablet{
    padding: 40px;
  }

  @include small_desktop {
      min-width: 50%;
      height: 519px;
      padding: 40px;
    }
}


.title {
      text-align: left;
      font-size: 20px;
      font-weight: 800;
      line-height: 1.4;
      
      color: $color-gray-100;

      @include tablet {
        font-size: 26px;
        line-height: 1.2;
      }

      @include small_desktop{
        font-size: 24px;
      }
}

.address__title{
  color:$color-main-blue-mid;
}

.description {
margin-top: 4px;

  text-align: left;
  font-size: 14px;
    font-weight: 500;
    line-height: 1.4;

    color:$color-gray-100;

    @include tablet {
      font-size: 20px;
    }
    @include small_desktop{
      font-size: 20px;
    }

}

.caption{
  text-align: left;
  font-size: 14px;
    font-weight: 700;
    line-height: 1.4;

    color: $color-gray-100;

    @include tablet{
      font-size:20px;
    }

    @include small_desktop {
        font-size: 16px;
      }
}

.address__box{
  display: flex;
  flex-direction: column;

  margin-top: 24px;

  gap:16px;

  @include small_desktop{
    margin-top: 24px;
  }
}

.address__position__column{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $color-main-blue-mid;

  @include tablet{
    flex-direction: row;
    gap:32px;
  }
}


.address__position__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address__item__position{
  display: flex;
  align-items: center;
  gap:8px;
}

.icon {
  display: flex;
  align-items:center;
  width:24px;
  height: 24px;
color:$color-gray-100;
}

.image {
  width: 120px;
}
