@import '../../scss/variables';
@import '../../scss/mixins';

.section{
  background-color: $color-main-bg;
  padding:40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet{
    padding:80px 32px;
  }

     @include small_desktop{
      padding:100px;
     }
}

.container{
  width:100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap:20px;

  @include tablet{
    margin-top: 40px;
  }

  @include small_desktop{
    flex-direction: row;
  }
  
}

.title{
  width: 100%;
  text-align: start;
  // font-size: 28px;
  font-weight: 800;
  // line-height: 1.2;

 @include small_desktop{
  // font-size: 52px;
 }
}

.description{
  margin-top: 16px;
  
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;

  color: $color-main-blue-dark;

  @include small_desktop{
    font-size: 26px;
  }
}