@use '/src/scss/variables' as *;
@use '/src/scss/mixins' as *;

.hero {
  background-color: $color-main-blue-light;
}

.heroContainer {
  background-color: transparent;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;

  @include tablet {
    align-items: center;
    padding-top: 80px;
  }

  @include small_desktop {
    padding: 0 0 0 100px;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    //height: 850px;
  }
  @include large_desktop {
    //width: 1440px;
    //height: 660px;
  }

  @include full_desktop {
    //display: flex;
    //width: 1920px;
    //height: 760px;
    //padding: 0 0 0 100px;
    //justify-content: space-between;
    //align-items: center;
  }

}

.textBlock {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  @include tablet {
    padding: 0 32px;
    align-items: center;
    gap: 48px;
  }

  @include small_desktop {
    padding: 0;
    gap: 48px;
    width: 650px;
    margin: 43px 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include large_desktop {
    //width: 657px;
  }

  @include full_desktop {
    //width: 664px;
  }
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  @include small_desktop {
    gap: 24px;
  }


  h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 38.4px;


    @include small_desktop {
      font-size: 56px;
      line-height: 67.2px;
    }

    @include large_desktop {

    }

    @include full_desktop {
      //font-size: 68px;

    }
  }


}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  @include tablet {
    gap: 32px;
  }


  p {
    color: $color-gray-100;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;


    @include small_desktop {
      font-size: 20px;
      line-height: 28px;
    }
    @include large_desktop {

    }

    @include full_desktop {


    }
  }

  .list {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    @include tablet {
      padding: 8px 80px;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      .list > div {
        flex: 50%;
      }
    }

    @include small_desktop {

      /*     flex-wrap: wrap;
           flex-direction: row;
           justify-content: space-between;
           .list > div {
             flex: 50%;
           }*/
    }

    .listItem {
      display: flex;
      width: 200px;
      align-items: center;
      gap: 8px;

      .listBubble {
        border-radius: 30px;
        background: $color-main-bg;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg:first-child {
          transform: translateY(5px);
          height: 14px;
          width: 14px;
          fill: $color-accent;
        }

        svg:last-child {
          transform: translateY(-5px);
          height: 14px;
          width: 14px;
          fill: $color-accent;
        }
      }

      span {
        color: $color-main-blue-dark;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.6px;
      }
    }

  }
}

.btnContainer {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  margin: auto;
  width: 353px;

  @include tablet {
    width: 100%;
  }

  @include small_desktop {
    width: 293px;
    margin: 0;
  }

  @include large_desktop {

  }

  @include full_desktop {
    //width: 445px;
  }


  svg:first-child {
    transform: translateY(2px);
    height: 14px;
    width: 14px;
    @include small_desktop {
      height: 11px;
      width: 11px;
    }
  }

  svg:last-child {
    transform: translateY(-5px);
    height: 14px;
    width: 14px;
    @include small_desktop {
      height: 11px;
      width: 11px;
    }
  }

}

.imageBlock {
  width: 100%;
  height: 427px;
  background: url('../../assets/hero-home.webp') no-repeat 50% / cover lightgray;

  @include tablet {
    height: 591px;
  }

  @include small_desktop {
    width: 510px;
    height: 850px;
    background-position: 40%;
  }

  @include large_desktop {

  }

  @include full_desktop {

  }


}
