.photos {
	max-width: 1920px;
	margin: auto;
	padding: 100px;
	@media screen and (max-width: 1279px) {
		padding: 40px 32px;
	}
	@media screen and (max-width: 767px) {
		padding: 20px 40px;
	}

	.image {
		width:550px;
		height: 550px;
		object-fit: cover;
		border-radius: 30px;
		@media screen and (max-width: 1279px) {
			height: 450px;
		}
		@media screen and (max-width: 767px) {
			height: 350px;
		}
	}

	.title {
		text-align: start;
		margin-bottom: 40px;
		font-size: 3.25rem;
		font-weight: 800;
		@media screen and (max-width: 1279px) {
			font-size: 1.75rem;
		}
	}
}
