.photos {
	max-width: 1919px;
	margin: auto;
	padding: 100px;
	@media screen and (max-width: 1279px) {
		padding: 40px 32px;
	}
	@media screen and (max-width: 767px) {
		padding: 20px 40px;
	}

	.image {
		width:550px;
		height: 550px;
		object-fit: cover;
		border-radius: 30px;
	}

	.title {
		text-align: start;
		margin-bottom: 40px;
	}
}
