@import '../../scss/variables';
@import '../../scss/mixins';

.wrapper {
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

.imgBlock {
  display: none;
  background: url('../../assets/modal/contact/contact.webp') no-repeat 50% / cover lightgray;

  @include tablet {
    display: block;
    width: 248px;
    height: 612.188px;
  }
  @include small-desktop {
    width: 359px;
    height: 750.750px;
  }
  @include large-desktop {
    width: 396px;
    min-height: 705px;
  }
}


.contentBlock {
  display: flex;
  flex-direction: column;
  margin: 32px;
  width: 288px;
  gap: 16px;


  @include tablet {
    margin: 33px 32px 20px 32px;
    width: 380px;
    gap: 0;
  }

  @include small-desktop {
    margin: 40px 32px;
    width: 402px;
  }

  @include large-desktop {
    flex-direction: column;
    margin: 55px 32px;
    width: 540px;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  @include tablet {
    padding-bottom: 16px;
  }
  @include small-desktop {
    gap: 16px;
  }


  h2 {
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    margin: 0;
    width: 280px;

    @include tablet {
      width: 340px;
    }

    @include small-desktop {
      font-size: 26px;
      line-height: 31.2px;
      width: 360px;
    }

    @include large_desktop {
      width: 540px;
    }

  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: $color-main-blue-dark;

    @include small-desktop {
      font-size: 20px;
      line-height: 28px;
    }

  }

}
