@import '../../scss/variables';
@import '../../scss/mixins';

//  move  img  and ul  in  common  styles file
img {
	display: block;
	max-width: 100%;
	height: auto;
}

.hero {
	width: 100%;
	padding-top: 40px;
	background: $color-main-blue-light;

	@include tablet {
		padding-top: 80px;
	}

	@include small-desktop {
		display: flex;
		gap: 20px;
		padding: 0;
	}
}

.hero_wrapper {
	padding-left: 20px;
	padding-right: 20px;

	@include tablet {
		padding-left: 32px;
		padding-right: 32px;
	}

	@include small-desktop {
		padding: 63px 0px 63px 100px;
		width: 50%;
	}

	@include large-desktop {
		padding: 111px 0px 111px 100px;
	}

	@include full-desktop {
		padding: 158px 0px 158px 100px;
	}
}

.title {
	margin-bottom: 16px;
	color: $color-gray-100;
	font-size: 32px;
	font-weight: 900;
	line-height: 1.2;

	@include tablet {
		margin-bottom: 24px;
	}

	@include small-desktop {
		font-size: 56px;
	}
}

.text {
	margin-bottom: 24px;
	color: $color-main-blue-dark;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;

	@include tablet {
		margin-bottom: 48px;
	}

	@include small-desktop {
		font-size: 20px;
		margin-bottom: 0px;
	}
}

.name {
	width: 362px;
	height: 42px;
	margin-bottom: 24px;
	background-image: url('../../assets/hero_about/name393.webp');
	background-size: cover;

	@include tablet {
		margin-bottom: 56px;
		width: 405px;
		height: 47px;
	}

	@include full-desktop {
		width: 400px;
		height: 47px;
	}
}

.photo {
	width: 100%;
	height: 262px;
	background-image: url('../../assets/hero_about/393_1x.webp');
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.photo {
			background-image: url('../../assets/hero_about/393_2x.webp');
		}
	}

	@include tablet {
		height: 476px;
		background-image: url('../../assets/hero_about/768_1x.webp');
		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			.photo {
				background-image: url('../../assets/hero_about/768_1x.webp');
			}
		}
	}

	@include small-desktop {
		width: 50%;
		height: 700px;
		background-image: url('../../assets/hero_about/1280_1x.webp');
		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			.photo {
				background-image: url('../../assets/hero_about/1280_2x.webp');
			}
		}
	}

	@include large-desktop {
		background-image: url('../../assets/hero_about/1440_1x.webp');
		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			.photo {
				background-image: url('../../assets/hero_about/1440_2x.webp');
			}
		}
	}

	@include full-desktop {
		background-image: url('../../assets/hero_about/1920_1x.webp');
		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			.photo {
				background-image: url('../../assets/hero_about/1920_2x.webp');
			}
		}
	}
}

.info {
	padding: 40px 20px;
	align-self: stretch;
	background-color: $color-main-bg;

	@include tablet {
		padding: 80px 32px;
	}

	@include small-desktop {
		display: grid;
		grid-template-columns: 414px 1fr;
		padding: 100px;
		gap: 48px;
	}
}

.goal {
	margin-bottom: 16px;
	color: $color-gray-100;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.4;

	@include tablet {
		margin-bottom: 24px;
	}

	@include small-desktop {
		font-size: 26px;
		line-height: 1.2;
	}
}

.goal_text {
	color: $color-gray-100;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 24px;

	@include tablet {
		margin-bottom: 64px;
	}

	@include small-desktop {
		font-size: 20px;
	}
}

.logo {
	display: none;

	@include small-desktop {
		display: block;
		width: 414px;
		height: 521px;
		background-image: url('../../assets/hero_about/logo1280_2x.webp');
		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			.logo {
				background-image: url('../../assets/hero_about/logo1280_2x.webp');
			}
		}
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
	}

	@include large-desktop {
		height: 445px;
	}

	@include full-desktop {
		height: 378px;
	}
}

.button {
	@include small-desktop {
		width: 340px;
	}
}

.icon {
	width: 24px;
	height: 24px;
	background-image: url('../../assets/hero_about/paws.svg');
}
