@import '../../scss/variables';
@import '../../scss/mixins';

.background {
	background: $color-main-blue-light;
}

.hero {
	background: $color-main-blue-light;
}

.hero_container {
	margin: 0 auto;
	max-width: 1920px;
	padding-top: 40px;

	@include tablet {
		padding-top: 80px;
	}

	@include small-desktop {
		display: flex;
		gap: 20px;
		padding: 0;
	}
}

.hero_wrapper {
	padding-left: 20px;
	padding-right: 20px;

	@include tablet {
		padding-left: 32px;
		padding-right: 32px;
	}

	@include small-desktop {
		padding: 63px 0px 63px 100px;
		width: 50%;
	}

	@include large-desktop {
		padding: 111px 0px 111px 100px;
	}

	@include full-desktop {
		padding: 158px 0px 158px 100px;
	}
}

.title {
	margin-bottom: 16px;
	color: $color-gray-100;
	font-size: 32px;
	font-weight: 900;
	line-height: 1.2;

	@include tablet {
		margin-bottom: 24px;
	}

	@include small-desktop {
		font-size: 56px;
	}
}

.text {
	margin-bottom: 24px;
	color: $color-main-blue-dark;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;

	@include tablet {
		margin-bottom: 48px;
	}

	@include small-desktop {
		font-size: 20px;
		margin-bottom: 0px;
	}
}

.name {
	width: 362px;
	height: 42px;
	margin-bottom: 24px;
	background-image: url('../../assets/hero_about/name393.webp');
	background-size: cover;

	@include tablet {
		margin-bottom: 56px;
		width: 405px;
		height: 47px;
	}
}

.photo {
	width: 100%;
	height: 262px;
	background-image: url('../../assets/hero_about/393_2x.webp');
	background-size: cover;
	background-repeat: no-repeat;

	@include tablet {
		height: 476px;
		background-image: url('../../assets/hero_about/768_2x.webp');
	}

	@include small-desktop {
		width: 50%;
		height: 700px;
		background-image: url('../../assets/hero_about/1280_2x.webp');
	}

	@include large-desktop {
		background-image: url('../../assets/hero_about/1440_2x.webp');
	}

	@include full-desktop {
		background-image: url('../../assets/hero_about/1920_2x.webp');
	}
}

.back {
	background-color: $color-main-bg;
}

.info {
	background-color: $color-main-bg;
}

.info_container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 40px 20px;
	align-self: stretch;

	@include tablet {
		padding: 80px 32px;
	}

	@include small-desktop {
		display: grid;
		grid-template-columns: 414px 1fr;
		padding: 100px;
		gap: 48px;
	}
}

.goal {
	margin-bottom: 16px;
	color: $color-gray-100;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.4;

	@include tablet {
		margin-bottom: 24px;
	}

	@include small-desktop {
		font-size: 26px;
		line-height: 1.2;
	}
}

.goal_text {
	color: $color-gray-100;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	@include small-desktop {
		font-size: 20px;
	}
}
.goal_text_bottom {
	composes: goal_text;
	margin-bottom: 24px;

	@include tablet {
		margin-bottom: 64px;
	}
}

.logo {
	display: none;

	@include small-desktop {
		display: block;
		width: 414px;
		height: 521px;
		background-image: url('../../assets/hero_about/logo1280_2x.webp');
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
		background-size: contain;
	}

	@include large-desktop {
		height: 445px;
	}

	@include full-desktop {
		height: 378px;
	}
}

.button {
	@include small-desktop {
		width: 340px;
	}
}

.icon{
position:relative;
width:24px;
height: 24px;
  svg:first-child{
    position:absolute;
    width:13px;
    height: 13px;
    bottom:0;
    left: 0;
  }

  svg:last-child{
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
      right: 0;
  }
}
