@import '../../scss/_mixins';
@import '../../scss/variables';

.intro {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease;
}

.card {
	position: relative;
	width: 415px;
	height: 508px;
	border-radius: 30px;
	&:hover {
		.intro {
			max-height: 300px;
			@media screen and (max-width: 767px) {
				max-height: 210px;
			}
		}
	}
	@media screen and (max-width: 1919px) {
		width: 400px;
	}
	@media screen and (max-width: 1439px) {
		width: 347px;
	}
	@media screen and (max-width: 1279px) {
		width: 342px;
	}
	@media screen and (max-width: 767px) {
		width: 260px;
		height: 380px;
	}
	.image {
		border-radius: 30px;
	}
}

.friend {
	position: absolute;
	top: 40px;
	left: 0;
	color: $color-gray-0;
	background: $color-system-green;
	padding: 4px 12px;
	border-radius: 0px 16px 16px 0px;
}

.about {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 16px;
}

.vaccine {
	color: $color-gray-0;
	background: $color-system-green;
	padding: 4px 12px;
	border-radius: 16px;
	display: flex;
	gap: 8px;
	@media screen and (max-width: 1439px) {
		display: none;
	}
}

.small {
	color: $color-gray-0;
	background: $color-system-green;
	padding: 4px 12px;
	border-radius: 16px;
	gap: 8px;
	display: none;
	@media screen and (max-width: 1439px) {
		display: flex;
	}
}

.size {
	color: $color-main-blue-mid;
	border-radius: 16px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.overlay {
	position: absolute;
	bottom: 24px;
	left: 24px;
	padding: 16px;
	background: $color-gray-0;
	border-radius: 18px;
	width: 367px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: start;
	@media screen and (max-width: 1919px) {
		width: 352px;
	}
	@media screen and (max-width: 1439px) {
		width: 299px;
	}
	@media screen and (max-width: 1279px) {
		width: 294px;
	}
	@media screen and (max-width: 767px) {
		width: 228px;
		bottom: 16px;
		left: 16px;
	}
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gender {
	color: $color-main-blue-mid;
	display: flex;
	gap: 10px;
	align-items: center;
}

.year {
	color: $color-main-blue-dark;
	font-weight: 500;
}

.dark {
	color: $color-main-blue-dark;
	font-weight: 500;
	text-transform: capitalize;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: end;
}

.left {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
}

// .donate {
// 	background-color: #009cd9;
// 	padding: 12px 24px;
// 	text-decoration: none;
// 	border: 1px solid #009cd9;
// 	border-radius: 30px;
// 	font-size: 20px;
// 	color: #ffffff;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	transition: all 0.3s ease-in-out;
// 	min-width: 165px;
// 	width: 100%;
// 	flex: 1 1 100%;

// 	&:hover {
// 		color: #009cd9;
// 		border: 1px solid #009cd9;
// 		background-color: #ffffff;
// 	}

// 	@media screen and (max-width: 1919px) {
// 		min-width: 120px;
// 	}

// 	@media screen and (max-width: 767px) {
// 		font-size: 14px;
// 		min-width: 80px;
// 		padding: 4px 4px;
// 	}
// }

// .adopt {
// 	background-color: #ffffff;
// 	padding: 12px 24px;
// 	text-decoration: none;
// 	border: 1px solid #009cd9;
// 	border-radius: 30px;
// 	font-size: 20px;
// 	color: #009cd9;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	transition: all 0.3s ease-in-out;
// 	min-width: 165px;
// 	flex: 1 1 100%;

// 	&:hover {
// 		color: #ffffff;
// 		border: 1px solid #009cd9;
// 		background-color: #009cd9;
// 	}

// 	@media screen and (max-width: 1919px) {
// 		min-width: 120px;
// 	}

// 	@media screen and (max-width: 767px) {
// 		font-size: 16px;
// 		min-width: 80px;
// 		padding: 4px 4px;
// 	}
// }

.image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	margin-top: 10px;
}
