@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
	padding-bottom: 10px;
	padding-top: 10px;
}

.text {
	display: block;
	padding-bottom: 10px;
	font-size: 20px;
}

.error {
	padding-top: 10px;
	font-size: 20px;
	color: red;
}

.input {
	outline: none;
	height: 40px;
	padding: 0 10px;
	border-radius: 4px;
	border: 2px solid $color-main-blue-mid;
}

.label {
	display: flex;
	flex-direction: column;
}
