@import '../../scss/variables';

.contacts {
	padding: 100px;
	max-width: 1920px;
	margin: 0 auto;
	@media screen and (max-width: 1279px) {
		padding: 40px 32px;
	}
}

.title {
	margin-bottom: 40px;
	color: $color-main-blue-dark;
	font-weight: 900;
	@media screen and (max-width: 1279px) {
		font-size: 2rem;
	}
}

.container {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	@media screen and (max-width: 1279px) {
		flex-direction: column;
	}
}

.links {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.addresses {
	display: flex;
	flex-direction: column;
	gap: 16px;
	@media screen and (max-width: 1439px) {
		margin-right: 0;
	}
}

.icon {
	color: $color-main-blue-dark;
	padding: 8px;
	background-color: $color-main-blue-light;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

.city {
	display: flex;
	gap: 16px;
	align-items: center;
	flex: 1 0 0;
}

.black {
	font-weight: 800;
	color: $color-gray-100;
	font-size: 1.25rem;
	@media screen and (max-width: 1279px) {
		font-size: 1rem;
	}
}

.text {
	font-weight: 800;
	text-decoration: none;
	color: $color-gray-100;
	transition: color 0.3s ease;
	font-size: 1.25rem;
	&:hover {
		color: $color-main-blue-dark;
	}
	@media screen and (max-width: 1279px) {
		font-size: 1rem;
	}
}

.big {
	color: $color-main-blue-dark;
	font-size: 3.25rem;
	font-weight: 800;
	@media screen and (max-width: 1279px) {
		font-size: 1.75rem;
	}
}

.small {
	font-size: 0.875rem;
	margin-top: -10px;
}

.socials {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 767px) {
		flex-direction: column;
		gap: 16px;
	}
}

.image {
	height: 480px;
	width: 880px;
	object-fit: cover;
	object-position: 60% 50%;
	@media screen and (max-width: 1919px) {
		object-position: 70% 50%;
	}
	@media screen and (max-width: 1279px) {
		object-position: 60% 50%;
	}
	@media screen and (max-width: 767px) {
		object-position: 80% 50%;
	}
}

a {
	font-size: 1.5rem;
	@media screen and (max-width: 767px) {
		font-size: 1.25rem;
	}
}

.images {
	flex: 1 1 100%;
}