@import '../../scss/_variables.scss';

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $color-main-bg;
	padding: 3rem;

	.form {
		padding: 2.5rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		width: 22rem;
		background-color: #f9f9f9;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		border-radius: 1.25rem;

		h4 {
			font-size: 2.5rem;
			font-weight: bold;
			text-align: center;
			margin-bottom: 0.5rem;
		}

		.button {
			text-transform: uppercase;
			margin-top: 0;
			transition: background-color 0.3s;
			width: 100%;
			padding: 0.7rem;
			background-color: #4a90e2;
			color: $color-gray-0;
			border: none;
			cursor: pointer;
			border-radius: 0.25rem;

			&:hover {
				background-color: #3668b9;
			}
		}

		.text {
			text-align: center;
		}

		.link {
			font-weight: 600;
			color: #4a90e2;
			cursor: pointer;
			font-size: 1.25rem;
			margin-left: 0.5rem;
			text-decoration: none;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: #3668b9;
			}
		}
	}
}

.form {
	margin-bottom: 1rem;
}

.label {
	display: block;
	font-size: 1rem;
	margin-bottom: 0.25rem;
}

.error {
	color: #ff0000;
	height: 20px;
	margin-top: -1.25rem;
	margin-bottom: 0.25rem;
}

.success {
	color: #008000;
	height: 40px;
	margin-top: -1.25rem;
	margin-bottom: 0.25rem;
}

.input {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	border: 2px solid #ccc;
	border-radius: 0.25rem;
	transition: border-color 0.3s ease-in-out;

	&:focus {
		border-color: #4a90e2;
		outline: none;
	}
}

.button {
	text-transform: uppercase;
	transition: background-color 0.3s;
	width: 100%;
	padding: 1rem;
	background-color: $color-accent;
	color: $color-gray-0;
	border: none;
	cursor: pointer;
	border-radius: 0.25rem;
	font-weight: 600;
	margin-top: 1.25rem;

	&:hover {
		background-color: $color-main-blue-dark;
	}
}
