@import '../../scss/_variables.scss';

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.main {
	// background-color: #dbdbdb;
	width: 100%;
	padding: 50px;

	.table {
		width: 100%;
		border-collapse: collapse;
	}

	td {
		padding: 20px;
		border: 1px solid $color-main-blue-dark;
		// max-width: 500px;
	}

	th {
		text-align: left;
		padding: 20px;
	}
}

.title {
	margin-bottom: 50px;
}

.btn {
	padding: 5px 10px;
	width: 120px;
	color: $color-gray-0;
	background-color: $color-main-blue-mid;
	border-radius: 40px;
	transition: all 0.3s ease;
	font-size: 16px;
	width: 100%;
	&:hover {
		background: $color-main-blue-dark;
		color: $color-gray-0;
	}
}

.green {
	padding: 5px 10px;
	width: 120px;
	color: $color-gray-0;
	font-size: 16px;
	background-color: #14B8A6;
	border-radius: 40px;
	transition: all 0.3s ease;
	width: 100%;
	&:hover {
		background: #0D9488;
		color: $color-gray-0;
	}
}

.red {
	padding: 5px 10px;
	width: 120px;
	color: $color-gray-0;
	font-size: 16px;
	margin-top: 10px;
	background-color: #F43F5E;
	border-radius: 40px;
	transition: all 0.3s ease;
	width: 100%;
	&:hover {
		background: #E11D48;
		color: $color-gray-0;
	}
}