@import '../../scss/variables';
@import '../../scss/mixins';

$partnersContainerPadding393: 40px 20px;
$partnersContainerPadding768: 40px 32px;
$partnersContainerPadding1280: 100px;

.partnersContainer {
	display: grid;
	place-items: center;
	margin: 0 auto;
	padding: $partnersContainerPadding393;
	background-color: $color-gray-0;
	@include tablet {
		display: block;
		max-width: none;
		padding: $partnersContainerPadding768;
	}
	@include small_desktop {
		padding: $partnersContainerPadding1280;
		max-width: 1920px;
	}
}

.partnersTitle {
	margin-bottom: 24px;
	font-size: 42px;
	font-weight: 800;
	line-height: 120%;

	@include tablet {
		margin-bottom: 40px;
	}
}

.partnersIconContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap: 32px;
	padding: 0 40px;

	@include tablet {
		justify-content: center;
		flex-direction: row;
	}

	@include small_desktop {
		gap: 60px;
	}
}

.partnersIcon {
	transition: transform 0.3s ease-in-out;

	@include tablet {
		margin-bottom: 32px;
	}

	@include small_desktop {
		margin-bottom: 40px;
	}

	&:hover {
		transform: scale(1.2);
	}
}
