.tails {
	max-width: 1920px;
	margin: auto;
	padding: 100px;
}

.title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.link {
	padding: 12px 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	color: #fff;
	background: #009cd9;
	text-decoration: none;
	gap: 8px;
	transition: background 0.3s ease;

	&:hover {
		background: #005c80;
	}
}
