@import '../../scss/_variables.scss';

.tails {
	max-width: 1920px;
	margin: auto;
	padding: 100px;
	@media screen and (max-width: 1259px) {
		padding: 80px 32px;
	}
	@media screen and (max-width: 767px) {
		padding: 40px 20px;
	}
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	@media screen and (max-width: 767px) {
		margin-bottom: 24px;
		flex-direction: column;
		text-align: start;
		gap: 16px;
	}
}

.letters {
	font-size: 3.25rem;
	font-weight: 800;
	@media screen and (max-width: 1279px) {
		font-size: 1.75rem;
	}
	@media screen and (max-width: 767px) {
		align-self: start;
	}
}

.subtitle {
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: 700;
	@media screen and (max-width: 1259px) {
		font-size: 14px;
	}
}

.text {
	margin-bottom: 40px;
	max-width: 1285px;
	font-size: 20px;
	font-weight: 500;
	@media screen and (max-width: 1259px) {
		font-size: 14px;
		margin-bottom: 24px;
	}
}

.link {
	min-width: 297px;
	@media screen and (max-width: 767px) {
		width: 100%;
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.loading {
	width: 6rem;
	height: 6rem;
	border: 5px solid $color-accent;
	border-radius: 50%;
	border-top-color: $color-gray-0;
	animation: spinner 0.6s linear infinite;
	margin: 6rem auto;
}

.container {
	background-color: $color-main-bg;
	padding: 6rem;
}

.alert {
	text-align: center;
	font-size: 32px;
	color: $color-main-blue-dark;
}
