@import '../../../scss/variables';
@import "../../../scss/mixins";

.statusContainer {
	padding: 6rem;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}

.alert {
	text-align: center;
	font-size: 32px;
	color: $color-main-blue-dark;
	width: 100%;
}

.miniStatusContainer {
	padding: 10px;
	margin-top: 10px;
	border-radius: 30px;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;

	@include small_desktop {
		padding: 20px;
	}
}

.miniLoaderContainer {
	padding: 10px 7px;
	margin-top: 4px;

	@include small_desktop {
		padding: 22px;
		margin-top: 10px;
	}
}

.miniAlert {
	text-align: center;
	font-size: 16px;
	color: darkred;
	width: 100%;

	@include small_desktop {
		font-size: 20px;
	}
}

.loader {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	position: relative;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, $color-main-blue-mid 94%, #0000) top/3px
			3px no-repeat,
		conic-gradient(#0000 30%, $color-main-blue-mid);

	-webkit-mask: radial-gradient(
		farthest-side,
		#0000 calc(100% - 3px),
		#000 0
	);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
	animation: spin 1s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(1turn);
	}
}
