@import '../../scss/variables';
@import '../../scss/mixins';

.section {
	padding: 40px 20px;
	background-color: $color-main-bg;

	@include tablet {
		padding-top: 80px;
		padding-bottom: 52px;
		padding-left: 32px;
		padding-right: 32px;
	}

	@include small-desktop {
		padding: 100px;
	}
}

.title {
	margin-bottom: 24px;
	font-size: 32px;
	font-weight: 800;
	line-height: 1.2;
	color: $color-gray-100;

	@include tablet {
		margin-bottom: 40px;
	}

	@include small-desktop {
		font-size: 42px;
	}
}

.news {
	display: grid;
	justify-items: center;
	@include tablet {
		grid-template: 1fr / repeat(2, 1fr);
		column-gap: 20px;
		// row-gap: 32px;
	}

	@include small-desktop {
		display: grid;
		grid-template: 1fr / repeat(4, 1fr);
		column-gap: 20px;
	}
}

.loading {
	width: 6rem;
	height: 6rem;
	border: 5px solid #009cd9;
	border-radius: 50%;
	border-top-color: #fff;
	animation: spinner 0.6s linear infinite;
	margin: 6rem auto;
}

.container {
	background-color: #ebf5fb;
	padding: 6rem;
}

.alert {
	text-align: center;
	font-size: 32px;
	color: #005c80;
}
