$color-gray-100: #0d0031;
$color-gray-80: #4d4d4d;
$color-gray-60: #a6a6a6;
$color-gray-40: #dbdbdb;
$color-gray-20: #eeeeee;
$color-gray-10: #f7f7f7;
$color-gray-0: #ffffff;

$color-main-bg: #ebf5fb;
$color-modal-bg: rgba(101, 103, 103, 0.8);
$color-main-blue-light: #b6e1f2;
$color-main-blue-mid: #4d9fbf;
$color-main-blue-dark: #005c80;

$color-accent: #009cd9;

$color-system-green: #05b460;
$color-system-error: #e60000;
