$color-gray-100: #0D0031;
$color-gray-90: #000F36;
$color-gray-80: #4D4D4D;
$color-gray-60: #A6A6A6;
$color-gray-40: #DBDBDB;
$color-gray-20: #EEEEEE;
$color-gray-10: #F7F7F7;
$color-gray-0: #FFFFFF;

$color-main-bg: #EBF5FB;
$color-main-blue-light: #B6E1F2;
$color-main-blue-mid: #4D9FBF;
$color-main-blue-dark: #005C80;

$color-accent: #009CD9;

$color-system-green: #05B460;
$color-system-error: #E60000;


