@import '../../scss/variables';

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 48px;
    padding: 100px;
    @media screen and (max-width: 767px) {
        padding: 20px 64px;
	}
}

.title {
    font-size: 12.5rem;
    font-weight: 900;
    line-height: 80%;
    color: $color-gray-100;
    @media screen and (max-width: 767px) {
        font-size: 9.375rem;
	}
}

.text {
    font-weight: 700;
    line-height: 140%;
    font-size: 1.25rem;
    color: $color-gray-90;
    @media screen and (max-width: 1279px) {
        font-size: 0.875rem;
	}
}

.link {
	padding: 12px 24px;
	display: flex;
	width: 277px;
	max-height: 52px;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	color: $color-gray-0;
    font-size: 1.25rem;
	background: $color-accent;
	text-decoration: none;
	gap: 8px;
	transition: background 0.3s ease;
	&:hover {
		background: $color-main-blue-dark;
	}
}
