.tails {
	background-color: #b6e1f2;
}

.container {
	display: flex;
	max-width: 1920px;
	margin: auto;
	overflow: hidden;
	gap: 20px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		gap: 50px;
	}
}

.content {
	padding-left: 100px;
	min-width: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	@media screen and (max-width: 1440px) {
		min-width: 400px;
	}
	@media screen and (max-width: 1280px) {
		padding: 0 32px;
	}
	@media screen and (max-width: 768px) {
		padding: 40px 20px 0 20px;
		min-width: 350px;
	}
}

.title {
	line-height: 120%;
}

.text {
	font-weight: 500;
	color: #005c80;
	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

.dog {
	position: relative;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 1280px) {
		margin-right: -70px;
	}
	@media screen and (max-width: 768px) {
		margin-right: 0;
	}
}

.tailA {
	position: absolute;
	bottom: 80px;
	left: 20px;
	padding: 24px;
	background-color: #005c80;
	max-width: 230px;
	border-radius: 24px 0 24px 24px;
	color: #ffffff;
	font-weight: 500;
	@media screen and (max-width: 1280px) {
		display: none;
	}
}

.tailB {
	position: absolute;
	bottom: 200px;
	right: 250px;
	padding: 24px;
	background-color: #005c80;
	max-width: 250px;
	border-radius: 24px 0 24px 24px;
	color: #ffffff;
	font-weight: 500;
	@media screen and (max-width: 1280px) {
		display: none;
	}
}

.arrow {
	position: absolute;
	top: -23px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 24px 24px 0 0;
	border-color: transparent #005c80 transparent transparent;
}
