@import '../../scss/_variables.scss';

.tails {
	background-color: $color-main-blue-light;
}

.container {
	display: flex;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	gap: 20px;
	@media screen and (max-width: 1279px) {
		flex-direction: column;
		gap: 50px;
	}
}

.content {
	padding-left: 100px;
	min-width: 700px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	@media screen and (max-width: 1439px) {
		min-width: 500px;
	}
	@media screen and (max-width: 1279px) {
		padding: 80px 32px 0 32px;
		min-width: 280px;
	}
	@media screen and (max-width: 767px) {
		padding: 40px 20px 0 20px;
	}
}

.title {
	line-height: 120%;
	font-weight: 900;
	color: $color-gray-100;
}

.text {
	font-weight: 700;
	font-size: 1.25rem;
	color: $color-main-blue-dark;
	@media screen and (max-width: 1279px) {
		font-size: 0.875rem;
	}
}

.dog {
	position: relative;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 1279px) {
		margin-right: -70px;
	}
	@media screen and (max-width: 767px) {
		margin-right: 0;
	}
}

.tailA {
	position: absolute;
	bottom: 80px;
	left: 20px;
	padding: 24px;
	background-color: $color-main-blue-dark;
	max-width: 230px;
	border-radius: 24px 0 24px 24px;
	color: $color-gray-0;
	font-weight: 500;
	@media screen and (max-width: 1919px) {
		bottom: 30px;
		left: 10px;
	}
	@media screen and (max-width: 1439px) {
		bottom: 40px;
		left: 10px;
	}
	@media screen and (max-width: 1279px) {
		bottom: 80px;
		left: 20px;
	}
	@media screen and (max-width: 1023px) {
		max-width: 210px;
		padding: 20px;
		bottom: 60px;
		left: 20px;
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.tailB {
	position: absolute;
	bottom: 200px;
	right: 250px;
	padding: 24px;
	background-color: $color-main-blue-dark;
	max-width: 250px;
	border-radius: 24px 0 24px 24px;
	color: $color-gray-0;
	font-weight: 500;
	@media screen and (max-width: 1919px) {
		bottom: 150px;
		right: 200px;
	}
	@media screen and (max-width: 1439px) {
		bottom: 150px;
		right: 200px;
	}
	@media screen and (max-width: 1279px) {
		bottom: 200px;
		right: 250px;
	}
	@media screen and (max-width: 1023px) {
		max-width: 210px;
		padding: 20px;
		bottom: 150px;
		right: 200px;
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.arrow {
	position: absolute;
	top: -23px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 24px 24px 0 0;
	border-color: transparent $color-main-blue-dark transparent transparent;
}
